/* register.css */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use viewport height for full screen height */
  margin-top: 5px;
  background-color: rgb(255, 252, 248);
}

.content {
  width: 100%; /* Use full width */
  max-width: 400px; /* Limit maximum width */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.top {
  text-align: center;
}

.input {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

/* Media Query for responsiveness on smaller screens */
@media only screen and (min-width: 430px) and (max-width: 932px) {
 .container{
  margin-top: 1rem;
  width: 100%;
 }
}
