.product-container{

  list-style-type: none;
  color:steelblue;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 12px;
  margin-left: 147px;
  margin-right: 145px;
}
.product{
margin:13px;
  padding: 50px;
  position: relative;
  display: flex;
  box-shadow: 0px 2px 5px ;
  color:black;
  align-items: center; 
  transition: transform 0.3s ease-in-out;
}

.product:hover{
  transform: scale(1.05);
}
.product-details {
  flex: 1;
  margin-left: 10px; 
  display: flex;
  flex-direction: column;
}
.quantity{
  height: 10%; 
  margin-bottom: 0; 
}
.price{
  height: 10%; 
  text-align: center;
  margin-bottom: 5px; 
}
.name{
  height: 20%; 
  margin-bottom: 5px; 
}
.img{
  width: 40%;
  height: 100%;
  object-fit: contain; 
}

.pagination {
position: sticky;
  text-align: center;
  align-items: center;
  display: flex;
  list-style: none;
 
  justify-content: center;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  background-color:black ;
  color: white;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.abc{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.pagination button:hover {
  background-color: brown;
}

.nameproduct{
  text-align: center;
}

.sort_container{
  margin-left: 72%;
  margin-top:2%;
  margin-bottom: 2%;
  font-size: 20px;
}

.sort_product{
  width: 40%;
  height: 30px;
  font-size: 16px;
}