.product-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.detailproduct {
  width: 100%;
  display: flex;
  align-items: center;
}

.selected-image-container {
  display: grid;
  grid-template-columns: 100%;
  padding-left: 10%;

  padding-right: 10px; 
}
.product-name{
  margin-left: 160px;
    margin-right: 145px;
    text-align: center;
}
.selected-image {
  width: 40%; 
  height: 70%;
object-fit: contain;
}

.thumbnail-container {
display: flex;
padding-top: 1%;
  width: 40%; 
  
}

.thumbnail {
  width: 20%; 
  margin-bottom: 10px;
  padding-left: 20%;
  cursor: pointer;
  object-fit: contain;
}

.details-container {
  width: 100%;
  padding: 0 20px; 
}
.compare-products-container {
 padding: 20px;
  display: flex;
  justify-content: space-between;
}

.selected-product,
.similar-products {
  text-align: center;
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
}
.link-button {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: #fff;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 4px;
}

.link-button,
.link-button:hover,
.link-button:visited,
.link-button:focus,
.link-button:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.price.green {
  color: green;
  padding: 10px;
}

.price.red {
  padding: 10px;
  color: red;
 
}
.different-description {
  color: red;
}
.nextbutton{
  height: 20%;
  margin-left: 47.5%;
}
.backbutton{
  height: 20%;
}

.btn_detail{
  width: 100px;
  height: 30px;
  border-radius: 7px;
}

/* button{
  border-radius: 7px;
} */
.upcoming-comparisons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.upcoming-products-container {
  display: flex;
}

.upcoming-product {
  margin: 0 10px;
}

.product-frame {
  border: 2px solid #ddd;
  
  padding: 10px;
  text-align: center;
}

.product-frame img {
  cursor: pointer;
  width: 200px;object-fit: contain;
}

.product-frame p {
  margin: 8px 0;
}
.custom-similar-products-container {
  margin-top: 20px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}

.custom-similar-products {
  display: flex;
  flex-wrap: wrap;
  transition: transform 1s ease-in-out;
}
.custom-similar-products :hover{
  transform: scale(1.1);
}

.custom-similar-product {
  width: calc(33% - 5px); 
}

.custom-similar-product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.custom-similar-product-name {
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Description{
  text-align: left;
}
input[type="number"] {
  width: 50px; /* Adjust the width as needed */
  padding: 5px; /* Adjust the padding as needed */
  text-align: center;
}