/* @tailwind base;
@tailwind components;
@tailwind utilities; */


/* .bloglist_pagination {
    margin-left: 40%;
  } */

  
  .bloglist_page_container{
    width: 1200px;
    margin-top: 1px;
    margin-bottom: 10px;
   margin-left: 160px;
  }



/* Responsive layout - adjust as needed */
@media only screen and (min-width: 430px) and (max-width: 932px) {
  .bloglist_page_container{
    width: 100px;
    margin-top: 1px;
    margin-bottom: 5px;
  
  }
}



  