.header_navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    margin-right: 160px;
}

.header_bavbar_item,
.header_bavbar_item_link{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.header_bavbar_item{
    margin: 0 20px;
}
.header_bavbar_item_link1:hover
{
    color: #f73838;
    transition: 0.4s;
}

.active {
    color: red; /* Màu bạn muốn chuyển khi trang được chọn */
  }
/* .header_navbar_email{
    color: black;
    text-decoration: none;
}
.header_navbar_email:hover{
    color: #f73838;
    transition: 0.4s;
} */


