.header_navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    margin-right: 160px;
}

.header_bavbar_item,
.header_bavbar_item_link{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.header_bavbar_item{
    margin: 0 20px;
}
.header_bavbar_item_link1:hover
{
    color: #f73838;
    transition: 0.4s;
}

.active {
    color: red; /* Màu bạn muốn chuyển khi trang được chọn */
  }
.heading_account{
    text-decoration: none;
    color: black;
    display: flex;
    margin-top: 3px;
    margin-left: 92%;
}
.heading_account_logout{
    text-decoration: none;
    color: black;
    display: flex;
    margin-top: 3px;
    margin-left: 92%;
}

@media only screen and (min-width: 430px) and (max-width: 932px){
    .heading_account{
        text-decoration: none;
        color: black;   
        display: flex;
        margin-top: 0px;
        margin-left: 130%;
        font-size: 14px;
    }
    .heading_account_logout{
        text-decoration: none;
        color: black;
        display: flex;
        margin-top: 0px;
        margin-left: 130%;
        font-size: 14px;
    }
}


